img {
	margin-right: 3em;
	float: left;
}

div.playground {
}

#log {
	overflow: scroll;
	background: black;
	color: white;
	margin-top: 2em;
	padding: 1em;
	font-family: monospace;
	line-height: 150%;
}

#log .debug {
	color: gray;
}

#log .info {
	color: green;
}

#log .warning {
	color: yellow;
}

#log .error {
	color: red;
}


button {
	width: auto;
	height: 3em;
}