div.flowchart {
	margin-right: 3em;
	float: left;
	min-width: 500px;
}

div.flowchart h1 {
	margin-left: 15px;
}


div.playground {
}

div.playground .log {
	overflow: scroll;
	background: black;
	color: white;
	margin-top: 2em;
	padding: 1em;
	font-family: monospace;
	line-height: 150%;
}

div.playground .log .debug {
	color: gray;
}

div.playground .log .info {
	color: green;
}

div.playground .log .warning {
	color: yellow;
}

div.playground .log .error {
	color: red;
}

div.playground .button {
	width: auto;
	height: 3em;
}
